/* Error: expected selector.
 *    ,
 * 10 |         .g--text-align-getTextAlign(getTextAlign())\@getBreakPointKeys(){
 *    |                                    ^
 *    '
 *   06_global\_g--text-align.scss 10:36  @import
 *   main.scss 25:1                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a    \2577 \a 10 \2502          .g--text-align-getTextAlign(getTextAlign())\\@getBreakPointKeys(){\d\a    \2502                                     ^\a    \2575 \a   06_global\\_g--text-align.scss 10:36  @import\a   main.scss 25:1                       root stylesheet";
}
