.c-image{
    display: flex;
    border-color:brown;
    border-width: 3px;
    border-radius: getBorderRadius(4);
}

@media (min-width:768px){
    .c-imagen{
        font-size: 55px;
        border-color:brown;
    }
}