// @each $breakPointKey in getBreakPointKeys(){
//     $breakPointValue: getBreakPoint($breakPointKey);
//     $modificador: "";
//     @if($breakPointKey != ""){
//         $modificador: "\\@#{$breakPointKey}";
//     }
//     @media (min-width: $breakPointValue){
//         @each $key in getTextAlign(){
//             $value: getTextAlign($key);
//         .g--text-align-#{$value}#{$modificador}{
//             text-align: $value;
//         }
//         }
//     }
// }
@each $clave in getTextAlignKeys(){
    $valor: getTextAlign($clave+1);

    .g--text-align-#{$clave}{
        text-align: $valor;
    }

}

@each $breakKey, $breakValue in $breakPoints{
    @media (min-width: $breakValue){
        @each $key in getTextAlignKeys() {
            .g--text-align-#{$key+1}\@#{$breakKey}{
                text-align: getTextAlign($key+1);
            }
        }
    }
}