@each $clave in getDisplayKeys(){
    $valor: getDisplay($clave+1);

    .g--display-#{$clave}{
        display: $valor;
    }

}

@each $breakKey, $breakValue in $breakPoints{
    @media (min-width: $breakValue){
        @each $key, $value in getDisplayKeys() {
            .g--display-#{getDisplay($key+1)}\@#{$breakKey}{
                display: getDisplay($key+1);
            }
        }
    }
}