@each $clave in getOpacityKeys() {
  $valor: getOpacity($clave + 1);

  .g--opacity-#{$clave} {
    opacity: $valor;
  }
}

@each $breakKey, $breakValue in $breakPoints {
  @media (min-width: $breakValue) {
    @each $key in getOpacityKeys() {
      .g--opacity-#{$key + 1}\@#{$breakKey} {
        opacity: getOpacity($key + 1);
      }
    }
  }
}
