@each $breakKey, $breakValue in $breakPoints{
    @media(min-width: $breakValue){
        @each $name in getColorsKeys(){
            @each $variantKey in getColorsKeyByVariant($name){
                .g--color-#{$name}-#{$variantKey+1}\@#{$breakKey}{
                    color: getColor($name, $variantKey+1)
                }
                .g--background-color-#{$name}-#{$variantKey+1}\@#{$breakKey}{
                    background-color: getColor($name, $variantKey+1)
                }
                .g--border-color-#{$name}-#{$variantKey+1}\@#{$breakKey}{
                    border-color: getColor($name, $variantKey+1)
                }
            }
            
        }
    }
}