@each $clave in getZ-IndexKeys() {
    $valor: getZ-Index($clave + 1);
  
    .g--z-index-#{$clave} {
      z-index: $valor;
    }
  }
  
  @each $breakKey, $breakValue in $breakPoints {
    @media (min-width: $breakValue) {
      @each $key in getZ-IndexKeys() {
        .g--z-index-#{$key + 1}\@#{$breakKey} {
          z-index: getZ-Index($key + 1);
        }
      }
    }
  }
  