@each $clave in getBorderRadiusKeys(){
    $valor: getBorderRadius($clave+1);

    .g--border-radius-#{$clave}{
        border-radius: $valor;
    }

}

@each $breakKey, $breakValue in $breakPoints{
    @media (min-width: $breakValue){
        @each $key in getBorderRadiusKeys() {
            .g--border-radius-#{$key+1}\@#{$breakKey}{
                border-radius: getBorderRadius($key+1);
            }
        }
    }
}