/*Por cada clave en lo que nos devuelve la funcion getPaddingKeys,
la variable $valor será igual a getPadding($clave+1)
ahora, por cada clave, va a generar una clase css llamada g--padding-?
cuya propiedad va a ser padding y que va a tener de valor lo que le entró*/
@each $clave in getPaddingKeys() {
    $valor: getPadding($clave+1);

    .g--padding-#{$clave} {
        padding: $valor;
    }

    .g--padding-left-#{$clave} {
        padding-left: $valor;
    }

    .g--padding-right-#{$clave} {
        padding-right: $valor;
    }

    .g--padding-top-#{$clave} {
        padding-top: $valor;
    }

    .g--padding-bottom-#{$clave} {
        padding-bottom: $valor;
    }

    .g--padding-vertical-#{$clave} {
        padding-top: $valor;
        padding-bottom: $valor;
    }

    .g--padding-horizontal-#{$clave} {
        padding-left: $valor;
        padding-right: $valor;
    }
}

@each $breakKey, $breakValue in $breakPoints{
    @media (min-width: $breakValue){
        @each $key in getPaddingKeys() {
            .g--padding-#{$key+1}\@#{$breakKey}{
                padding: getPadding($key+1);
            }
            .g--padding-left-#{$key+1}\@#{$breakKey} {
                padding-left: getPadding($key+1);
            }
        
            .g--padding-right-#{$key+1}\@#{$breakKey} {
                padding-right: getPadding($key+1);
            }
        
            .g--padding-top-#{$key+1}\@#{$breakKey} {
                padding-top: getPadding($key+1);
            }
        
            .g--padding-bottom-#{$key+1}\@#{$breakKey} {
                padding-bottom: getPadding($key+1);
            }
        
            .g--padding-vertical-#{$key+1}\@#{$breakKey} {
                padding-top: getPadding($key+1);
                padding-bottom: getPadding($key+1);
            }
        
            .g--Padding-horizontal-#{$key+1}\@#{$breakKey} {
                Padding-left: getPadding($key+1);
                Padding-right: getPadding($key+1);
            }
        }
    }
}