@each $clave in getWidthKeys() {
    $valor: getWidth($clave + 1);
  
    .g--width-#{$clave} {
      width: $valor;
    }
  }
  
  @each $breakKey, $breakValue in $breakPoints {
    @media (min-width: $breakValue) {
      @each $key in getWidthKeys() {
        .g--width-#{$key + 1}\@#{$breakKey} {
          width: getWidth($key + 1);
        }
      }
    }
  }